<!DOCTYPE html>
<html>
<head>

    <title>AI Aptitude Practice</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <h2>🤖 AI Aptitude Practice</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

</div>

<div class="dashboard">

    <div class="dashboard-card">

        <h1>Ask Aptitude Question</h1>

        <form method="POST" action="/aptitude-ai">

            <textarea
            name="question"
            rows="8"
            style="
            width:100%;
            padding:15px;
            border-radius:15px;
            border:none;
            background:rgba(255,255,255,0.1);
            color:white;
            "
            placeholder="Enter aptitude question here..."
            ></textarea>

            <br><br>

            <button type="submit">
                Solve Using AI
            </button>

        </form>

    </div>

</div>

</body>
</html>
