<!DOCTYPE html>
<html>
<head>

    <title>AI Aptitude Practice</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <h2>🤖 AI Aptitude Practice</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

</div>

<div class="dashboard">

    <div class="dashboard-card">

        <h1>AI Generated Question</h1>

        <br>

        <p style="line-height:1.8; white-space:pre-line;">

            {{ result }}

        </p>

        <br>

        <a href="/aptitude">

            <button>
                Generate New Question
            </button>

        </a>

    </div>

</div>

</body>
</html>
