<!DOCTYPE html>
<html>
<head>

    <title>AI Aptitude Practice</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <h2>🧠 AI Aptitude Practice</h2>

    <div>

        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>

    </div>

</div>

<div class="dashboard">

    <div class="dashboard-card">

        <h2>Aptitude Question</h2>

        <br>

        <p style="white-space:pre-line; line-height:1.8;">

            {{ question }}

        </p>

        {% if not answer %}

        <hr><br>

        <form method="POST">

            <input
            type="hidden"
            name="correct"
            value="{{ correct_answer }}">

            <input
            type="hidden"
            name="question"
            value="{{ question }}">

            <input
            type="hidden"
            name="explanation"
            value="{{ explanation }}">

            <button
            type="submit"
            name="selected"
            value="A">

                Option A

            </button>

            <br><br>

            <button
            type="submit"
            name="selected"
            value="B">

                Option B

            </button>

            <br><br>

            <button
            type="submit"
            name="selected"
            value="C">

                Option C

            </button>

            <br><br>

            <button
            type="submit"
            name="selected"
            value="D">

                Option D

            </button>

        </form>

        {% endif %}

    </div>

    {% if answer %}

    <br>

    <div class="dashboard-card">

        <h2>Result</h2>

        <br>

        <h1>

            {{ answer }}

        </h1>

        <br>

        <p>

            {{ explanation }}

        </p>

        <br>

        <a href="/aptitude">

            <button>

                Next Question

            </button>

        </a>

    </div>

    {% endif %}

</div>

</body>
</html>
