<!DOCTYPE html>
<html>
<head>

    <title>Coding Practice</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <h2>💻 Coding Preparation</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

</div>

<div class="dashboard">

    <h1>Coding Questions</h1>

    <div class="dashboard-cards">

        <div class="dashboard-card">

            <h3>Python Program to Reverse String</h3>

            <p>
                Write a program to reverse a string.
            </p>

        </div>

        <div class="dashboard-card">

            <h3>Find Largest Number</h3>

            <p>
                Write a program to find largest number in list.
            </p>

        </div>

    </div>

</div>

</body>
</html>
