<form method="POST" action="/check-code">

    <!-- Hidden Question -->

    <textarea
    name="question"
    hidden>{{ result }}</textarea>

    <!-- User Code -->

    <textarea
    name="code"
    rows="15"
    style="
    width:100%;
    background:#0f172a;
    color:#22c55e;
    padding:20px;
    border:none;
    border-radius:15px;
    font-size:16px;
    "
    placeholder="Write Python code here..."
    ></textarea>

    <br><br>

    <button type="submit">

        Submit Code

    </button>

</form>
