<!DOCTYPE html>
<html>
<head>

    <title>AI Coding Preparation</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <h2>💻 AI Coding Practice</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

</div>

<div class="dashboard">

    <div class="dashboard-card">

        <h1>AI Generated Coding Question</h1>

        <br>

        <p style="white-space:pre-line; line-height:1.8;">

            {{ result }}

        </p>

    </div>

    <br>

    <div class="dashboard-card">

        <h2>Write Your Code</h2>

        <form method="POST" action="/check-code">

            <textarea
            name="code"
            rows="15"
            style="
            width:100%;
            background:#0f172a;
            color:#22c55e;
            padding:20px;
            border:none;
            border-radius:15px;
            font-size:16px;
            "
            placeholder="Write Python code here..."
            ></textarea>

            <br><br>

            <button type="submit">

                Submit Code

            </button>

        </form>

    </div>

</div>

</body>
</html>
