<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">

    <h2>🚀 PlacePilot AI</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

</div>

<div class="dashboard">

    <h1>
        Welcome {{ user }} 👋
    </h1>

    <div class="dashboard-cards">

        <div class="dashboard-card">
            <h2>🧠 Aptitude Practice</h2>
            <p>Practice aptitude questions.</p>
        </div>

        <div class="dashboard-card">
            <h2>💻 Coding Preparation</h2>
            <p>Improve coding skills.</p>
        </div>

        <div class="dashboard-card">
            <h2>🤖 Resume Analyzer</h2>
            <p>Analyze your resume using AI.</p>
        </div>

    </div>

</div>
<div class="dashboard-cards">

    <div class="dashboard-card">

        <h2>🧠 Aptitude Practice</h2>

        <p>Practice placement aptitude questions.</p>

        <br>

        <a href="/aptitude">
            <button>Open</button>
        </a>

    </div>

    <div class="dashboard-card">

        <h2>💻 Coding Preparation</h2>

        <p>Practice coding interview questions.</p>

        <br>

        <a href="/coding">
            <button>Open</button>
        </a>

    </div>

    <div class="dashboard-card">

        <h2>🤖 AI Resume Analyzer</h2>

        <p>Analyze your resume using AI.</p>

        <br>

        <a href="/resume">
            <button>Open</button>
        </a>

    </div>

</div>
</body>
</html>
