

```html
<!DOCTYPE html>
<html>
<head>
    <title>PlacePilot AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</nav>

<div class="container">

    <h1>Smart Placement Preparation Platform</h1>

    <div class="card">
        <h2>Prepare for Placements Smarter 🚀</h2>

        <p>
            Aptitude, Coding, AI Resume Analysis and Mock Interviews.
        </p>
    </div>

</div>

</body>
</html>


