<!DOCTYPE html>
<html>
<head>

    <title>Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-container">

    <div class="left">

        <h1>
            Smart Placement
            <span>Preparation</span>
            Platform
        </h1>

        <p>
            Crack placements smarter using AI-powered
            aptitude practice, coding preparation
            and resume analysis.
        </p>

        <div class="features">

            <div class="card">
                <h3>🧠 AI Aptitude</h3>
                <p>AI generates aptitude MCQs.</p>
            </div>

            <div class="card">
                <h3>💻 AI Coding</h3>
                <p>Practice coding interview questions.</p>
            </div>

            <div class="card">
                <h3>🤖 Resume AI</h3>
                <p>Analyze resume using AI.</p>
            </div>

        </div>

    </div>

    <div class="right">

        <div class="login-box">

            <h2>Welcome Back 👋</h2>

            <p>Login to continue</p>

            <form method="POST">

                <input
                type="text"
                name="name"
                placeholder="Enter Username"
                required>

                <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

                <button type="submit">

                    Login

                </button>

            </form>

            <div class="link">

                Don't have account?

                <a href="/register">

                    Register

                </a>

            </div>

        </div>

    </div>

</div>

</body>
</html>
