<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main-container">

    <div class="left">

        <h1>
            Smart Placement
            <span>Preparation</span>
            Platform
        </h1>

        <p>
            Crack placements smarter with AI Resume Analysis,
            Aptitude Practice and Coding Preparation.
        </p>

        <div class="features">

            <div class="card">
                <h3>🧠 Aptitude</h3>
                <p>Practice placement questions.</p>
            </div>

            <div class="card">
                <h3>💻 Coding</h3>
                <p>Improve coding skills.</p>
            </div>

            <div class="card">
                <h3>🤖 AI Resume</h3>
                <p>Analyze your resume.</p>
            </div>

        </div>

    </div>

    <div class="right">

        <div class="login-box">

            <h2>Welcome Back 👋</h2>

            <p>Login to continue your preparation</p>

            <form method="POST">

                <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

                <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

                <button type="submit">
                    Login
                </button>

            </form>

            <div class="link">

                Don't have account?

                <a href="/register">
                    Register
                </a>

            </div>

        </div>

    </div>

</div>

</body>
</html>
