<!DOCTYPE html>
<html>
<head>

    <title>Profile</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <h2>👤 Profile</h2>

    <div>

        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>

    </div>

</div>

<div class="dashboard">

    <div class="profile-card">

        <div class="profile-image">

            👤

        </div>

        <h1>

            {{ user }}

        </h1>

        <p>

            Smart Placement Platform User

        </p>

        <br>

        <div class="profile-stats">

            <div class="stat-box">

                <h2>🧠</h2>

                <p>Aptitude</p>

            </div>

            <div class="stat-box">

                <h2>💻</h2>

                <p>Coding</p>

            </div>

            <div class="stat-box">

                <h2>🎤</h2>

                <p>Interview</p>

            </div>

        </div>

        <br>

        <a href="/dashboard">

            <button>

                Back to Dashboard

            </button>

        </a>

    </div>

</div>

</body>
</html>
