<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="right" style="width:100%;height:100vh;">

    <div class="login-box">

        <h2>Create Account 🚀</h2>

        <p>Join Smart Placement Platform</p>

        <form method="POST">

            <input
            type="text"
            name="name"
            placeholder="Enter Name"
            required>

            <input
            type="email"
            name="email"
            placeholder="Enter Email"
            required>

            <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required>

            <button type="submit">
                Register
            </button>

        </form>

        <div class="link">

            Already have account?

            <a href="/login">
                Login
            </a>

        </div>

    </div>

</div>

</body>
</html>
